# macOS-specific assets
.DS_Store

# Yarn-generated assets
node_modules/

# Hugo-generated assets
public/
resources/
.hugo_build.lock

# Ruby assets
.bundle/
vendor/bundle/

# Temporary files generated during preview
*.md-e
