title: "TiKV"
baseURL: "https://tikv.org"
languageCode: "en-us"
pygmentsCodeFences: true
pygmentsUseClasses: true
disableKinds: ["taxonomy", "taxonomyTerm"]

menu:
    nav:
    - name: Community
      url: /community/community/
    - name: Contribute
      parent: Community
      weight: 1
      url: /community/contribute/
    - name: Chat
      url: /chat
      parent: Community
      weight: 2
    - name: Branding
      url: https://branding.cncf.io/projects/tikv
      parent: Community
      weight: 4
    - name: Adopters
      url: /adopters
      parent: Community
      weight: 5
    - name: CNCF
      url: https://www.cncf.io/
      parent: Community
      weight: 5

params:
    favicon: "favicon.png"
    googleAnalyticsId: "UA-130734531-1"
    versions:
        latest: "5.1"
        all:
        - "dev"
        - "5.1"
        - "4.0"
        - "3.0"
    description:
        brief: "TiKV is a highly scalable, low latency, and easy to use <br/> key-value database."
        briefMobile: "TiKV is a highly scalable, low latency, and easy to use key-value database."
        long: "Based on the design of [Google Spanner](https://ai.google/research/pubs/pub39966) and [HBase](https://hbase.apache.org), but simpler to manage and without dependencies on any distributed filesystem"
    fonts:
        sansserif: "Titillium Web"
        monospace: "Inconsolata"
    logos:
        colorLogoWhiteFont: "img/logos/horizontal/color/tikv-horizontal-color-logo-white-font.png"
        white: "img/logos/horizontal/white/tikv-horizontal-white.svg"
        white-deprecated: "img/logos/horizontal/white-deprecated/tikv-horizontal-white.png"
        color: "img/logos/horizontal/color/tikv-horizontal-color.png"
        black: "img/logos/horizontal/black/tikv-horizontal-black.png"
        cncf: "img/logos/cncf-color.png"
        cncf-black: "img/logos/cncf-color.png"
        card: "img/logos/card.png"
    assets:
        fontAwesomeVersion: "5.3.1"
        js: ["jquery-3.3.1", "anchor", "app"]
        css: ["syntax"]
    socialmedia:
        twitter: "tikvproject"
        github: "https://github.com/tikv/tikv"

outputs:
    home: ["HTML", "REDIRECTS"]

outputFormats:
    REDIRECTS:
        mediaType: "text/netlify"
        baseName: "_redirects"

mediaTypes:
    "text/netlify":
        delimiter: ""

enableGitInfo: true

markup:
    goldmark:
        renderer:
            unsafe: true
