{{ $deepDive   := where site.Sections "Section" "deep-dive" }}
{{ $currentUrl := .URL }}
<div class="deep-dive-toc">
  <p class="title is-size-3 is-size-4-mobile has-text-weight-bold">
    TiKV deep dive
  </p>

  <hr class="has-background-primary" />

  <ul>
    {{ range $deepDive }}
    {{ $isCurrentPage := eq $currentUrl .URL }}
    <li{{ if $isCurrentPage }} class="is-active"{{ end }}>
      <strong>{{ .Weight }}</strong>.
      <a href="{{ .URL }}">
        {{ .Title }}
      </a>
    </li>

    {{ range .Sections }}
    {{ $isCurrentPage := eq $currentUrl .URL }}
    {{ $sectionWeight := .Weight }}
    <li{{ if $isCurrentPage }} class="is-active"{{ end }}>
      <strong>{{ $sectionWeight }}</strong>.
      <a href="{{ .URL }}">
        {{ .Title }}
      </a>
    </li>

    <li>
      <ul>
        {{ range .Pages }}
        {{ $isCurrentPage := eq $currentUrl .URL }}
        <li{{ if $isCurrentPage }} class="is-active"{{ end }}>
          <strong>{{ $sectionWeight }}.{{ .Weight }}</strong>.
          <a href="{{ .URL }}">
            {{ .Title }}
          </a>
        </li>
        {{ end }}
      </ul>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</div>
