
{{ $entries := .entries }}
{{ $currentPage := .currentPage }}

<ul>
  {{ range $entries }}
    {{ if .HasChildren }}
      {{ $active := (or ($currentPage.IsMenuCurrent .Menu .) ($currentPage.HasMenuCurrent .Menu .)) }}
      <li><details {{ if $active }}open{{ end }}>
        <summary><a {{ if $active }}class="is-active"{{ end }} href="{{ .URL }}">
          {{ .Name }}
        </a></summary>
        <ul>
          {{ $parent := . }}
          {{ range .Children }}
            {{ if .HasChildren }}
              {{ $active := (or ($currentPage.IsMenuCurrent .Menu .) ($currentPage.HasMenuCurrent .Menu .)) }}
              <li><details {{ if $active }}open{{ end }}>
                <summary><a 
                  {{ if $active }}class="is-active"{{ end }}
                  href="{{ .URL }}">
                  {{ .Name }}
                </a></summary>
                <ul>
                  {{ $parent = . }}
                  {{ range .Children }}
                    {{ $active := $currentPage.IsMenuCurrent .Menu . }}
                    <li><a 
                        {{ if $active }}class="is-active"{{ end }}
                        href="{{ .URL }}">
                        {{ .Name }}
                      </a>
                    </li>
                  {{ end }}
                </ul>
              </li>
            {{ else }}
              {{ $active := (or ($currentPage.IsMenuCurrent .Menu .) ($currentPage.HasMenuCurrent .Menu .)) }}
              <li><a
                  {{ if $active }}class="is-active"{{ end }}
                  href="{{ .URL }}">
                  {{ .Name }}
                </a></li>
            {{ end }}
          {{ end }}
        </ul>
      </details></li>
    {{ else }}
      <li>
          <a 
              {{ if $currentPage.IsMenuCurrent .Menu . }}class="is-active"{{ end }}
              href="{{ .URL }}">
              <span>{{ .Name }}</span>
          </a>
      </li>
    {{ end }}
  {{ end }}
</ul>