
{{ $entries := .entries }}
{{ $currentPage := .currentPage }}

<ul>
    {{ range $entries }}
        {{ if .HasChildren }}
            <li>
                <a {{ if (or ($currentPage.IsMenuCurrent .Menu .) ($currentPage.HasMenuCurrent .Menu .)) }}class="is-active"{{ end }} href="{{ .URL }}">
                    {{ .Name }}
                </a>
                <ul>
                    {{ $parent := . }}
                    {{ range .Children }}
                        {{ if .HasChildren }}
                            <li>
                                <a 
                                    {{ if (or ($currentPage.IsMenuCurrent .Menu .) ($currentPage.HasMenuCurrent .Menu .)) }}class="is-active"{{ end }}
                                    href="{{ .URL }}">
                                    {{ .Name }}
                                </a>
                                <ul>
                                    {{ $parent = . }}
                                    {{ range .Children }}
                                        <li>
                                            <a 
                                                {{ if $currentPage.IsMenuCurrent .Menu . }}class="is-active"{{ end }}
                                                href="{{ .URL }}">
                                                {{ .Name }}
                                            </a> 
                                        </li>
                                    {{ end }}
                                </ul>
                            </li>
                        {{ else }}
                            <li>
                                <a
                                    {{ if (or ($currentPage.IsMenuCurrent .Menu .) ($currentPage.HasMenuCurrent .Menu .)) }}class="is-active"{{ end }}
                                    href="{{ .URL }}">
                                    {{ .Name }}
                                </a>
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
            </li>
        {{ else }}
            <li>
                <a 
                    {{ if $currentPage.IsMenuCurrent .Menu . }}class="is-active"{{ end }}
                    href="{{ .URL }}">
                    <span>{{ .Name }}</span>
                </a>
            </li>
        {{ end }}
    {{ end }}
</ul>