{{ $year      := now.Year }}
{{ $logo      := site.Params.logos.colorLogoWhiteFont | relURL }}
{{ $docs      := where site.Pages "Section" "docs" }}
{{ $latest    := site.Params.versions.latest }}
{{ $blogPosts := where site.RegularPages "Section" "blog" }}
{{ $versions   := site.Params.versions.all }}
{{ $currentVersion := default $latest (trim (index (findRE "\\/(\\d+\\.)?(\\d+\\.)?(\\*|\\d+)(-\\w*)?\\/|dev\\/" .Permalink) 0) "/") }}
<footer class="footer is-dark">
  <div class="container">
    <div class="columns is-variable is-8-desktop is-multiline is-mobile">
      <div class="column is-one-quarter-desktop is-half-mobile">
        <h5 class="has-text-weight-bold has-text-white">
          Docs
        </h5>

        <hr class="hr">

        <ul>
          {{ range (index .Site.Menus $currentVersion) }}
            <li>
              <a href="{{ .URL }}">
                {{ .Name }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>


      {{ range .Site.Menus.nav }}
        <div class="column is-one-quarter-desktop is-half-mobile">
          <h5 class="has-text-weight-bold has-text-white">
            <a href="{{ .URL }}">
              {{ .Name }}
            </a>
          </h5>

          <hr class="hr">

          {{ if .HasChildren }}
            <ul>
              {{ range .Children }}
                <li>
                  <a href="{{ .URL }}">
                    {{ .Name }}
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
        </div>
      {{ end }}

      {{ if gt (len $blogPosts) 0 }}
      <div class="column is-one-quarter-desktop is-half-mobile">
        <h5 class="has-text-weight-bold has-text-white">
          Blog
        </h5>

        <hr class="hr">

        <ul>
          {{ range first 5 $blogPosts }}
          <li>
            <a href="{{ .RelPermalink }}">
              {{ .Title }}
            </a>
          </li>
          {{ end }}
          {{ if gt (len $blogPosts) 5 }}
          <li>
            <a href="/blog">
              More...
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div> <!-- columns -->

    <div class="columns is-variable is-8-desktop align-item-centered">
      <div class="column">
        <img class="image is-footer-image" src="{{ $logo }}" alt="TiKV footer logo">
        <p class="has-text-white">
          TiKV is an Apache 2.0 licensed open source distributed transactional key-value store.
        </p>
      </div>

      <div class="column">
        <img class="image is-footer-image" src="/img/logos/stacked/white/cncf-stacked-white.svg" alt="CNCF footer logo">
      </div>
      <div class="column"></div>

      <div class="column">
        <span class="is-size-6-mobile has-text-grey-light">
          &copy; {{ $year }} TiKV Authors
        </span>
      </div>
     </div>
  </div> <!-- container -->
</footer>
