<!-- Deep Dive includes math, so include a renderer on the page. -->
<link rel="stylesheet" href="/npm/katex-0.10.0-rc.1/katex.min.css" integrity="sha384-D+9gmBxUQogRLqvARvNLmA9hS2x//eK1FhVb9PiU86gmcrBrJAQT8okdJ4LMp2uv">
<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer src="/npm/katex-0.10.0-rc.1/katex.min.js" integrity="sha384-483A6DwYfKeDa0Q52fJmxFXkcPCFfnXMoXblOkJ4JcA8zATN6Tm78UNL72AKk+0O"></script>
<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="/npm/katex-0.10.0-rc.1/auto-render.min.js" integrity="sha384-yACMu8JWxKzSp/C1YV86pzGiQ/l1YUfE8oPuahJQxzehAjEt2GiQuy/BIvl9KyeF" onload="renderMathInElement(document.body);"></script>
