<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@tikvproject">
<meta name="twitter:creator" content="@tikvproject">
<meta name="twitter:title" content="{{ .Title }}">
{{ if .Description }}
    <meta name="twitter:description" content="{{ .Description }}">
{{ else if .Summary }}
    <meta name="twitter:description" content="{{ .Summary | markdownify }}">
{{ else }}
    <meta name="twitter:description" content="{{ .Site.Params.description.brief | markdownify }}">"
{{ end }}
<meta name="twitter:image" content="/{{ .Site.Params.logos.color }}">