{{ define "main" }}
{{ $shortDesc := site.Params.description.brief | markdownify }}
{{ $shortDescMobile := site.Params.description.briefMobile | markdownify }}
{{ $longDesc := site.Params.description.long | markdownify }}
{{ $logo := site.Params.logos.white | relURL }}
{{ $cncfLogo := site.Params.logos.cncf | relURL }}
{{ $features := site.Data.features }}
{{ $users := site.Data.users }}
{{ $getStarted := site.Data.getStarted }}
<section class="section homepage-hero hero">
  <div class="her-body">
    <div class="container has-text-left has-text-centered-mobile">
      <img class="is-home-logo" src="{{ $logo }}" alt="Main TiKV logo">
      <p class="title is-size-3-desktop is-spaced is-size-5-mobile">
        <span class="is-hidden-mobile">
          {{ $shortDesc }}
        </span>
        <span class="is-hidden-tablet">
          {{ $shortDescMobile }}
        </span>
      </p>
      <a href="/docs/5.1/concepts/overview/" class="button is-size-6-mobile">Get Started</a>
    </div>
  </div>
</section>

<section class="section homepage-intro">
  <div class="container">
    <p class="desc">TiKV provides both raw key-value APIs (RawKV) and transactional APIs (TxnKV) with ACID compliance.
    </p>
    <p class="desc">TiKV is an ideal choice in the following scenarios</p>
    <div class="columns">
      <div class="column scenarios">
        <div class="scenario">As an online serving module of a recommendation system or <a href="https://www.featurestore.org/" target="_blank">a feature store</a></div>
        <div class="scenario">As a key-value store, e.g. store metadata for an object storage system</div>
        <div class="scenario content">As a storage layer for a database, e.g.
          <ul>
            <li><a href="https://github.com/pingcap/tidb" target="_blank">TiDB</a>: a distributed MySQL protocol compatible NewSQL Database</li>
            <li><a href="https://github.com/zhihu/zetta" target="_blank">Zetta</a>: a distributed HBase protocol compatible NoSQL Database</li>
            <li><a href="https://github.com/yongman/tidis" target="_blank">Tidis</a>: a distributed Redis protocol compatible NoSQL Database</li>
          </ul>
        </div>
      </div>
      <div class="column">
        <img src="/img/homepage/tikv-architecture.svg" alt="tikv architecture" />
      </div>
    </div>
  </div>
</section>

<section class="section homepage-why-tikv">
  <div class="container">
    <h2 class="title section-title has-text-centered">Why TiKV</h2>
    <div class="columns is-multiline">
      {{ range where $features "featured" true }}
      <div class="column is-one-third">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              {{ .name }}
            </p>
            {{ with .icon }}
            <div class="card-header-icon">
              <span class="icon has-text-primary">
                <img src="{{ . }}" alt="header icon"/>
              </span>
            </div>
            {{ end }}
          </header>
          {{ with .description }}
          <div class="card-content">
            <div class="content">
              {{ . | markdownify }}
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="section homepage-tikv-users has-text-centered">
  <div class="container">
    <h2 class="title section-title">Who are using TiKV</h2>
    <div class="columns is-multiline is-mobile is-variable is-2-mobile is-0-tablet is-3-desktop is-8-widescreen">
      {{ range $users }}
      <div class="column">
        <img src="{{ .logo }}" alt="tikv user logo"/>
      </div>
      {{ end }}
    </div>

    <a class="button" href="/">Case Studies</a>

    <p class="title is-size-4 is-size-5-mobile">
      TiKV is a <a href="https://www.cncf.io/" target="_blank">Cloud Native Computing Foundation</a> graduate project
    </p>

    <img class="image is-cncf-logo" src="{{ $cncfLogo }}" alt="Cloud Native Computing Foundation logo" />
  </div>
</section>

<section class="section homepage-get-started">
  <div class="container">
    <h2 class="title section-title has-text-centered">Get started with TiKV</h2>
    <div class="columns">
      {{ range $getStarted }}
      <div class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              {{ .title }}
            </p>
            {{ with .icon }}
            <div class="card-header-icon">
              <span class="icon has-text-primary">
                <img src="{{ . }}" alt="header icon"/>
              </span>
            </div>
            {{ end }}
          </header>
          <div class="card-content">
            {{ range $idx, $doc := .docs }}
            <p>
              <a href="{{ $doc.link }}">{{ $doc.name }}</a>
            </p>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
