{{ $features := site.Data.features }}
{{ if eq (.Get 0) "featured"}}
  {{ $features = where $features "featured" true  }}
{{ end }}
<table>
  <thead>
    <tr>
      <th>
        Feature
      </th>
      <th>
        Description
      </th>
    </tr>
  </thead>
  <tbody>
    {{ range $features }}
    {{ $link := .link | default "docs/3.0/concepts/architecture" }}
    {{ $url  := $link | relURL }}
    <tr>
      <td>
        <a href="{{ $url }}">
          {{ .name }}
        </a>
      </td>
      <td>
        {{ .description | markdownify }}
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
